{% extends 'base.html.twig' %}

{% block title %}Page d'Accueil{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }

</style>

    <h1>PAGE D'ACCUEIL ✅</h1>

    {% if app.user == false %}
        <a href="{{path('app_register') }}">S'inscrire</a>
            <div>
        <a href="{{path('app_login') }}"> Connexion</a>
    </div>
    {% else%}
        <div>
            <a href="{{path('app_logout')}}">Deconnexion</a>
        </div>
        </div>
            <a href="{{path('app_dashboard_user', {'id': app.user.id} )}}">tableau de bord utilisateur</a>
        <div>
    {%endif%}
    {% if is_granted("ROLE_ADMIN") %}
        <div>
            <a href="{{path('app_dashboard_admin')}}">Admin tableau de bord</a>
        </div>
    {%endif%}
<div class="example-wrapper">



</div>


{% endblock %}
