{% extends 'base.html.twig' %}

{% block title %}Page d'Accueil{% endblock %}

{% block body %}
<style>
    background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
</style>

    <h1>✅ Welcome To The Bad Worldplay Site ✅</h1>
    <div class="presentSite"> Lubri-Fion... <br> Parc-d'attrap-fion ... <br> et autres joyeusetées  </div>
    {% if app.user == false %}
        <a href="{{path('app_register') }}" class="btn btn-outline-success" >S'inscrire</a>
            <div>
        <a href="{{path('app_login') }}" class="btn btn-outline-primary" > Connexion</a>
    </div>
    {% else%}
        <div>
            <a href="{{path('app_logout')}}" >Deconnexion</a>
        </div>
        </div>
            <a href="{{path('app_dashboard_user', {'id': app.user.id} )}}">tableau de bord utilisateur</a>
        <div>
    {%endif%}
    {% if is_granted("ROLE_ADMIN") %}
        <div>
            <a href="{{path('app_dashboard_admin')}}">Admin tableau de bord</a>
        </div>
    {%endif%}
<div class="example-wrapper">



</div>


{% endblock %}
