{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/registerpage.css') }}">
{% endblock %}


{% block body %}

    <h1 id="InscriptionTitle">S'inscrire</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.nom) }}
        {{ form_row(registrationForm.prenom) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button id="inscriptionBtn" type="submit" class="btn btn-secondary">S'inscrire</button>
    {{ form_end(registrationForm) }}
{% endblock %}

{# si tu veux faire qu'un seul fichier twig tu peux aussi tester les differentes options 
on peut passer l'etat dans la vue, ou simplement, directement verifier si le champ existe dans le form par exemple 
 en faisant 
 {% if form.plainpassword is defined %}
    ca affiche les champs mot de passe et termes
 {%endif%}
 Voila mr j'espere que c'est assez clair #}

